@media only screen and (max-width : 980px) {
  header {
    height: 10vh;
    background: black;
    padding : 20px ;
  }
  .logo {
    font-size: 10vw;
    margin-left: 0vw;
    text-shadow: 0.5vw 0.5vw 8px white , 0 0.4vw 3px black;
  }
  .hamburger {
    display: block;
    border: 2px solid black;
    margin-right: 2vw;
    border-radius: 6px;

  }
  .line1,.line2,.line3 {
    width: 10vw;
    height: 0.8vw;
    background: white;
    margin: 1.8vw 1.4vw;

  }
  .nav-bar {
    height: 0;
    display: block;
    position: absolute;
    top: 18.9vw;
    right: 0;
    left: 0;
    background: black;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 5% auto 0 auto;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li {
    height: 20vw;
    margin : 0;
    
  }

  .nav-bar ul li a {
    display: block;

    font-size: 20px;
    padding: 10px 25px;
    border-radius: 0px;
    transition: 0.7s;
    margin: 1vw 5px;

  }

  .nav-bar ul li a:hover {
    font-size: 25px;
    text-shadow: 0.5vw 0.5vw 5px white;
    background: none;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

  }
  .nav-bar ul li a.active {
    font-size: 25px;
    background: none;
    color: white;
    text-shadow: 0.5vw 0.5vw 5px white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }



  /* change menu icon */
  .change {
    box-shadow: 0 0 1px white;
    padding: 0.4vw 1.2vw 1vw 2vw;

  }
  .change .line1 {
    transition: 0.9s;
    transform: translate(0, 12px) rotate(-225deg);
    width: 8vw;
    height: 0.8vw;
  }

  .change .line2 {

    opacity: 0;
  }

  .change .line3 {
    transition: 0.9s;
    transform: translate(0, -6px) rotate(225deg);
    width: 8vw;
    height: 0.8vw;
  }
 .imglogo {
   display : flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   background: black;
   margin-top: 5vw;
   padding : 4vw 0 3vw;
 }
 .imglogo img {
   border : 1vw solid #fcb721 ;
   border-radius: 50px ;
 }

}